body {
    background-image: url("../images/background-blue.jpg");
    background-size: 100%;
}

.picture {
    position: relative;
    background-image: url("../images/picture-frame.jpg");
    background-size: 100% 100%;
    width: 250px;
    height: 175px;
    margin: 10px;
}

h1 {
    color: firebrick;
}

p {
    color: white;
}

img {
    position: absolute;
    margin: auto;
    width: 220px;
    height: 120px;
    /*margin: 10px 10px;*/
    filter: grayscale(100%)
}

#right-display {
    margin: 10px 0;
    background-color: #012757;
    padding: 20px;
    border-radius: 25px;
}

#buttons-display {
    margin-top: 30px;
}

#gif-display div {
    float: left;
}
