body {
    background-image: url("../images/background-blue.jpg");
    background-repeat: no-repeat;
}
h1 {
    color: firebrick;
}

img {
    width: 200px;
    height: 150px;
    margin: 10px 0;
}

#buttons-display {
    margin: 10px 0;
    background-color: gray;
}
