body {
    background-image: url("../images/background-blue.jpg");
    background-size: 100%;
}

h1 {
    color: firebrick;
}

p {
    color: white;
}

img {
    width: 250px;
    height: 150px;
    margin: 10px 10px;
}

#right-display {
    margin: 10px 0;
    background-color: #012757;
    padding: 20px;
    border-radius: 25px;
}

#buttons-display {
    margin-top: 30px;
}

#gif-display div {
    float: left;
}
